* { margin: 0%; padding: 0%; font-family: Arial, Helvetica, sans-serif;}

body {
    background-color: rgb(14, 14, 14);
    display: flex; justify-content: center; flex-direction: column;
}

section {
    background-color: rgb(26, 26, 26);

    width: 60%; height: 100%; margin: auto;
    display: flex; justify-content: center;
    margin-top: 30px; padding: 20px 20px 10px 20px;
    border-radius: 15px; flex-direction: column;
    align-items:center;
}

h1, h2, h3, p { color: #fff;}




.circle {border-radius: 999px;}
.invert {filter: invert(100%);}


#buttonColorMode {
    position: fixed; left: 70%; top: 10%; cursor: pointer;
}